<div class="c-hexagon-block  h-[456px] max-w-[466px] text-white relative grid mx-[-33px] sm:mx-0 place-content-center last:grow {{ if and .last (not .odd) }} lg:mt-[-4rem] {{ end }}">
    <div class="px-[61px] lg:px-[73px] ">
      {{ if .image }}
        <img src="{{ .image }}" alt="{{ .image_alt }}" width="100" height="100" class="mb-2 mx-auto"> 
        {{ end }}
        <h2 class='font-bold text-2xl lg:text-left mb-2'>{{ .title }}</h2>
        <div class='c-hexagon-block__content font-thin text-base lg:text-left'>{{ .content | safeHTML }} </div>
    </div>
  <svg
    class=' pointer-events-none absolute top-0 left-0
            {{ if eq .hexagon_color "pink" }}
                stroke-pink
            {{ else if eq .hexagon_color "green"}}
                stroke-green
            {{ else if eq .hexagon_color "yellow"}}
                stroke-yellow
            {{ end }}'
    width="465"
    height="459"
    viewBox="0 0 465 459"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M463 322.037V142.437C463 121.826 451.267 103.012 432.758 93.944L256.569 7.62259C241.602 0.289424 224.086 0.279026 209.11 7.59442L32.2993 93.9604C13.7588 103.017 2 121.847 2 142.481V321.499C2 342.609 14.302 361.784 33.4915 370.584L211.952 452.418C225.302 458.54 240.57 458.96 254.237 453.581L277.311 444.5L432.202 370.798C451.015 361.846 463 342.871 463 322.037Z"
      stroke-width="3" />
  </svg>


</div>
