<script>
    // Helper function to get form data in the supported format
    function getFormDataString(formEl) {
        var formData = new FormData(formEl),
        data = [];
    
    for (var keyValue of formData) {
        data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }
    
    return data.join("&");
    }
    
    // Fetch the form element
    var formEl = document.getElementById("{{ .instancevalue }}");
    
    // Override the submit event
    formEl.addEventListener("submit", function (e) {
        e.preventDefault();
    
    if (grecaptcha) {
        var recaptchaResponse = grecaptcha.getResponse();
        if (!recaptchaResponse) { // reCAPTCHA not clicked yet
        return false;
        }
    }
    
    var request = new XMLHttpRequest();
    
    request.addEventListener("load", function () {
        if (request.status === 302) { // CloudCannon redirects on success
        // It worked
        }
    });
    
    request.open(formEl.method, formEl.action);
    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    request.send(getFormDataString(formEl));
    });
</script>

<form id="{{ .instancevalue }}" action="" class="grid gap-y-8 w-full">
    {{ range .inputs }}
        {{ partial "bookshop" . }}
    {{ end }}
    <div class=" w-full h-[2px] bg-pink"></div>
    <input type="text" name="_gotcha" style="display: none;">
    <div class="grid grid-cols-[1fr_auto] items-center">
        <div>
            {{ if .formCheckBox.label }}
                {{ partial "bookshop" (slice "generic/form/checkbox-input" .formCheckBox) }}
            {{ end }}
        </div>
        {{ partial "bookshop" (slice "generic/form/button" (merge .submit_button (dict "_instancevalue" ._instancevalue))) }}
    </div>
</form>