
<form id="{{ .instancevalue }}" action="" class="grid gap-y-8 w-full">
    {{ range .inputs }}
        {{ partial "bookshop" . }}
    {{ end }}
    <div class=" w-full h-[2px] bg-pink"></div>
    <input type="text" name="_gotcha" style="display: none;">
    <div class="grid grid-cols-[1fr_auto] items-center">
        <div>
            {{ if .t_and_c_checkbox.label }}
                {{ partial "bookshop" (slice "generic/form/checkbox-input" .t_and_c_checkbox) }}
            {{ end }}
        </div>
            {{ if .submit_button  }}
                {{ partial "bookshop" (slice "generic/form/button" (merge .submit_button (dict "_instancevalue" ._instancevalue))) }}
            {{ end }}
    </div>
</form>