
<form 
    id="{{ ._instancevalue }}"
    {{ if eq .form_submission_type "email/cloudcannon"  }}
        action="{{ .success_page }}" method="post" 
    {{ else if eq .form_submission_type "mailchimp" }}
        action="{{ .mailchimp_submission_action }}" method="post" 
    {{ end }}
    class="grid gap-y-8 w-full">
    {{ range .inputs }}
        {{ partial "bookshop" . }}
    {{ end }}
    <div class=" w-full h-[2px] bg-pink"></div>
    <input type="text" name="_gotcha" style="display: none;">
    <div class="grid sm:grid-cols-2 gap-6" >
        <div>
            {{ if .tandc_checkbox }}
                {{ partial "bookshop" (slice "generic/form/checkbox-input" .tandc_checkbox) }}
            {{ end }}
        </div>
        <div class="justify-self-end">
            {{ if .submit_button  }}
                {{ partial "bookshop" (slice "generic/form/button" (merge .submit_button (dict "_instancevalue" ._instancevalue))) }}
           {{ end }}
        </div>
    </div>
</form>
{{/*  
    withCheck  
    */}}