<!DOCTYPE html>
<html lang="en">
  {{- partial "head/head.html" . -}}
  <body class="grid w-screen overflow-x-hidden dark bg-black">
    {{- partial "nav/nav.html" . -}}
    <main>
      <!-- Render any additional page content below the page's content blocks -->
      {{ block "main" . }}{{ end }}

      <div class="js-hex-animation-container"
        data-colours="{{ .Site.Data.animation.colours | jsonify }}">
      </div>
    </main>
    {{- partial "footer/footer.html" . -}}
  </body>
</html>
