@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito";
        src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    }
    @font-face {
        font-family: "Permanent Marker";
        src: url("/fonts/PermanentMarker-Regular.ttf") format("truetype");
    }
}

body {
    --twelve-column: 1fr repeat(12, calc(min(128px, 7.3%))) 1fr;
}