<div class="c-sections-schedule grid max-w-2xl justify-items-center mx-auto my-32 px-10">
	<h2 class="text-white text-4xl">{{- .title -}}</h2>

	{{- range .talks -}}
        <div class="c-sections-schedule-talk text-white border-b border-pink mt-12 pb-6">
        	<div class="c-sections-schedule-talk-details">
        		<p class=" uppercase font-bold mb-6 
        		{{ if eq .type "Lightning Talk" }}
        			text-pink
        		{{ else if eq .type "Tech Talk" }}
        			text-green
        		{{ else if eq .type "Live Interview" }}
        			text-lightblue
        		{{ else if eq .type "Workshop" }}
        			text-yellow
        		{{ end }}
	        	">{{- .type -}}</p>
	        	<p class="mr-4 mb-6 text-right text-white">{{- .time_string -}}</p>
	        	<h3 class="text-2xl mb-4">
	        	  {{- if .video_link -}}
	        	    <a class="underline decoration-yellow hover:decoration-pink motion-safe:transition-all motion-safe:duration-200 focus:decoration-pink" target="_blank" href="{{- .video_link -}}">{{- .title -}}</a>
		          {{- else -}}
				      	{{- .title -}}
				      {{- end -}}</h3>
	        	<div class="flex flex-wrap">
		        	{{- range .speakers -}}
		        		{{- range where site.Data.speakers "uuid" .speaker -}}
			        		<div class="flex flex-wrap flex-auto w-full box-border pr-5">
			        			<div
									class="relative flex items-center justify-center overflow-hidden max-w-[60px] z-10 rounded-full flex-initial mt-1 aspect-square">
									<img src="{{ .image }}" alt="{{ .name }}">
								</div>
								<div class="flex-1 pl-4">
				        			<p class="font-bold">
				        				{{- if .personal_url -}}
				        					<a target="_blank" href="{{- .personal_url -}}" 
				        					class="underline
									        hover:decoration-pink
									        motion-safe:transition-all motion-safe:duration-200
									        focus:decoration-pink">{{- .name -}}</a>
				        				{{- else -}}
				        					{{- .name -}}
				        				{{- end -}}
				        				</p>
				        			<p class="text-sm">{{- .title -}}</p>
				        			<p class="text-sm">
				        			  {{- if .company_url -}}
				        					<a target="_blank" href="{{- .company_url -}}" 
				        					class="underline
									        hover:decoration-yellow
									        motion-safe:transition-all motion-safe:duration-200
									        focus:decoration-yellow">{{- .company -}}</a>
				        				{{- else -}}
				        					{{- .company -}}
				        				{{- end -}}
				        				</p>
				        		</div>
			        		</div>
		        		{{- end -}}
		        	{{- end -}}
		        </div>
	        	<p class="mt-6">{{- .description |  safeHTML -}}</p>
	        </div>
        </div>
    {{- end -}}

</div>
