<div class="c-sections-schedule grid max-w-2xl justify-items-center mx-auto my-32 px-10">
	<h2 class="text-white text-4xl">{{- .title -}}</h2>

	{{- range .talks -}}
        <div class="c-sections-schedule-talk text-white border-b border-pink mt-12 pb-12">
        	<div class="c-sections-schedule-talk-details">
        		<p class=" uppercase font-bold mb-8 
        		{{ if eq .type "Lightning Talk" }}
        			text-pink
        		{{ else if eq .type "Tech Talk" }}
        			text-green
        		{{ else if eq .type "Workshop" }}
        			text-yellow
        		{{ end }}
	        	">{{- .type -}}</p>
	        	<h3 class="text-2xl mb-4"><a class="underline
	        	decoration-yellow
		        hover:decoration-pink
		        motion-safe:transition-all motion-safe:duration-200
		        focus:decoration-pink" target="_blank" href="{{- .video_link -}}">{{- .title -}}</a></h3>
	        	<p>{{- .description |  safeHTML -}}</p>
	        	<div class="flex flex-wrap">
		        	{{- range .speakers -}}
		        		{{- range where site.Data.speakers "uuid" .speaker -}}
			        		<div class="mt-10 flex flex-wrap flex-auto w-full box-border pr-5">
			        			<div
									class="relative flex items-center justify-center overflow-hidden max-w-[60px] z-10 rounded-full flex-initial mt-1 aspect-square">
									<img src="{{ .image }}" alt="{{ .name }}">
								</div>
								<div class="flex-1 pl-4">
				        			<p class="font-bold">
				        				{{- if .twitter_handle -}}
				        					<a target="_blank" href="https://twitter.com/{{- .twitter_handle -}}" 
				        					class="underline
									        hover:decoration-pink
									        motion-safe:transition-all motion-safe:duration-200
									        focus:decoration-pink">{{- .name -}}</a>
				        				{{- else -}}
				        					{{- .name -}}
				        				{{- end -}}
				        				</p>
				        			<p class="text-sm">{{- .title -}}</p>
				        			<p class="text-sm">{{- .company -}}</p>
				        		</div>
			        		</div>
		        		{{- end -}}
		        	{{- end -}}
		        </div>
	        </div>
        </div>
    {{- end -}}

</div>
